<!DOCTYPE html>
<html ng-app="pornApp" ng-controller="MainController">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="css/css.css" rel="stylesheet" />
    <link href="lib/fonts.css" rel='stylesheet' type='text/css'>

    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/cookies.js"></script>
    <script src="lib/lorum-ipsum.js"></script>
    <script src="lib/contains.js"></script>
        
    <script src="js/server.js"></script>
    <script src="js/data.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
    <script src="js/script.js"></script>

    <title ng-bind="star.title">Loading...</title>

    <script type="text/ng-template" id="templates/feed.html">
    	<div class="feed-container standard-center">

		    <div id="feed-left">

		        <div class="feed-title">Videos</div>

                <ul class="standard-list">

    		        <li class="feed-section" ng-repeat="section in sections">
    		        
    		            <div class="feed-divider"></div>
    		    
    		            <div class="feed-section-title" ng-class="{premium: section.name == 'Premium'}">{{section.name}}</div>
    		            
    		            <div ng-repeat="video in section.videos" ng-include="'partials/video.html'"></div>
    		        </li>
    		    </ul>

            </div>
		    
		    <div id="feed-right">

                <div scroll scroll-margin="20" id="something-else">
		        
    		        <div class="news-title">News</div>
    		        <div class="news-container">
    		        
    		            <a ng-href="{{article.href}}" class="news-item" ng-repeat="article in news">
    		                
    		                <div class="news-headline">{{article.headline}}</div>
    		                <div class="news-summary">{{article.summary}}</div>
    		                
    		            </a>
    		        
    		        </div>
                </div>
		
		    </div>
		
		</div>

    </script>

    <script type="text/ng-template" id="templates/video.html">
            <div ng-show="found && !premiumVideo(video)" class="standard-center">
            
                <video class="video-player" controls>
                    <source ng-src="{{video.src}}" type="video/mp4">
                    Your browser does not support the video tag fucktard.
                </video>
                
                <div class="video-title">{{video.name}}</div>
                <div class="video-description">{{video.description}}</div>
                
            
        </div>

        <div ng-show="found && premiumVideo(video)" ng-include="'partials/premium.html'"></div>

        <div ng-hide="found" ng-include="'partials/404.html'"></div>
    </script>

    <script type="text/ng-template" id="templates/article.html">
        <div ng-show="{{found}}">

            <h3>{{article.headline}}</h3>
            <img ng-src="{{article.image}}" />
            <p>{{article.content}}</p>

        </div>
        <div ng-hide="found" ng-include="'partials/404.html'"></div>
    </script>

    <script type="text/ng-template" id="templates/videos.html">

        <div class="tags-left-container">

            <input placeholder="Search tags" ng-model="tagQuery" class="tags-search" />
            <div class="tags-search-query-clear" ng-show="showTagQueryClear()" ng-click="clearTagQuery()">X</div>
 
            <div class="tags-search-clear" ng-click="clearTags()" ng-show="showTagsClear()">
            Clear tags
            </div>

            <div class="tags-search-divider"></div>

            <ul class="standard-list">
                <li class="tags-left-item" ng-repeat="tag in tags | filter:tagQuery">
                    <a ng-class="{'tags-selected': selected(tag)}" ng-click="toggleTag(tag, selected(tag))">{{tag}}</a>
                </li>
            </ul>

        </div>
        
        <div class="tags-right-container">
            <div class="tags-right-top">
            <input placeholder="Search videos" ng-model="videoQuery" class="tags-search" />

                <div class="tags-right-top-title">
                Sort by:
                  <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="-views">Most viewed</option>
                    <option value="-tags.length">Most tagged</option>
                  </select>
                </div>
                
            </div>
            <div ng-repeat="video in videos | filter:{name: videoQuery} | orderBy:orderProp" ng-show="showVideo(video.tags)" ng-include="'partials/video.html'"></div>
        </div>

    </script>

    <script type="text/ng-template" id="templates/about.html">
        <div class="about about-center">{{about}}</div>
    </script>
    
    <script type="text/ng-template" id="templates/links.html">
    
        <div class="link_container" ng-repeat="link in links">
            <a class="link" ng-href="{{link.href}}">{{link.name}}</a>
        </div>
        
    </script>

    <script type="text/ng-template" id="partials/404.html">
        <h3>LOL! 404 not found bitch.</h3>
    </script>

    <script type="text/ng-template" id="partials/premium.html">
        <h3 class="premium">Fuck you bitch you aint got premium</h3>
    </script>

    <script type="text/ng-template" id="partials/video.html">
        <div class="feed-video">
            
            <a ng-href="{{video.href}}">
                <img class="feed-video-thumbnail" ng-src="{{video.thumbnail}}" />
            </a>
            
            <a ng-href="{{video.href}}">
                <div class="feed-video-title">{{video.name}}</div>
            </a>
            
            <div class="feed-video-views">VIEWS: {{video.views}}</div>
        </div>
    </script>
    
</head>
<body>

    <div class="header-container">
        <header id="header" class="large-center">
            <a class="header-title" href="#/feed">{{star.title}}</a>
            
            <nav class="header-nav">
                
                <a href="#/videos/" class="header-item">Videos</a>
                <a href="#/links" class="header-item">Links</a>
                <a href="#/about" class="header-item">About</a>
                <a ng-click="togglePremiumSignup(true)" class="header-item premium">Go Premium</a>
                
            </nav>
        </header>
    </div>

	<div ng-show="premiumSignup" id="premium-signup">
        	<img title="Cancel" id="premium-close" src="res/close.png" ng-click="togglePremiumSignup(false)" />
   		</div>

    <div id="premium-signup-container" ng-show="premiumSignup" ng-click="togglePremiumSignup(false)">
    </div>
    
    <div class="filler"></div>
    
    <div class="standard-center">
        <div ng-view id="ng-view"></div>
    </div>
    
    <div class="filler"></div>
    
    <footer class="footer">
            <div class="large-center">
                    <div class="footer-text">{{footer}}</div>
            </div>
    </footer>
</body>
</html>